@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     overflow: hidden; 
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    color: #183446;
}
main{
    height: 100vh;
    background: linear-gradient(to right top , #38AECC ,#0090C1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.glass{
    /* background-color: white; */
    background: linear-gradient(to right bottom , rgba(255,255,255,0.55),rgba(255,255,255,0.3));
    height: 77vh;
    width: 55%;
    border-radius: 1.65rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle2{
    background: linear-gradient(to right bottom , rgba(255,255,255,0.7),rgba(255,255,255,0.35)); 
    height: 20rem;
    width: 20rem;
    border-radius:50%;
    z-index: 2;
}
/* .circle1{
    position: absolute;
    bottom:3.5%;
    left:17%;
    
} */
.circle2{
    position: absolute;
    top:3.5%;
    left: 17%;
    
}
.circle3{
    background: linear-gradient(to right bottom , rgba(255,255,255,0.7),rgba(255,255,255,0.35)); 
    height: 30rem;
    width: 30rem;
    border-radius:50%;
    z-index: 2;
}
.circle3{
    position: absolute;
    top:55%;
    right: 17%;
    overflow:hidden;
    
}
.left-div{
    background:linear-gradient(to right bottom , rgba(255,255,255,0.64),rgba(255,255,255,0.42));
    border-radius:1.65rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    position: relative;
}
.logo{
    width: 8rem;
    height: 8rem;
}
.logo-div{
    width: 16vw;
    display: flex;
    flex-direction: column;
  align-items: center;
  margin: 2rem;
}
h3{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2.5rem; ;
}
.refer-code{
    background: linear-gradient(to right top , #84CEEB ,#5AB9EA);
    margin: 1rem 2rem;
    padding: 2.5rem;
    border-radius: 1.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h4{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 2rem; 
    margin-bottom: 1rem;
    padding: 1rem;
}
.refer-input{
    border: none;
    border-radius: 1.65rem;
    padding: 1rem;
    width: 100%;
    position: relative;
    /* right:10%; */
}  

.btn{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 1.65rem;
    border: none;
    padding: 1.5rem 3rem;
    cursor: pointer;
    background-color:white;
    transition: all 0.4s ease;
}
.btn:hover{
    background-color:#B4F8C8;
}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem;
}
.container{
    height: 60vh;
    background:linear-gradient(to right bottom , rgba(255,255,255,0.8),rgba(255,255,255,0.5));
    width: 31vw;
    border-radius: 1.65rem;
    position: absolute;
    left:41.8%;
    top:3%;
    overflow-y:auto;
}

.message{
    position: absolute;
    left:41.8%;
    top: 86%;
}
.message-box{
    /* width:200%; */
    width: 35rem;
    border: none;
    border-radius: 1.65rem;
    padding: 1.5rem;
    height: 5.5rem;
    font-size: 1.8rem;
}

.message-box:focus , .refer-input:focus{
    outline: none;
}

.send-button{
    position: absolute;
    /* left:235%; */
    left: 40rem;
    top: 0;
    border-radius: 1.65rem;
    border:none;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: all 0.4s ease;
    height: 5.5rem;
}
.send-button:hover{
    background-color:#B4F8C8 ;
}

.msg{
    border: none;
    background-color:white;
    width: 40%;
    padding: 1.4rem;
    margin: 1rem 0.5rem;
    border-radius: 1.65rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1.5rem;  
}

 .left{
  float:left;
  clear: both;
}
.right{
    float: right;
    clear: both;
} 
.name{
    margin-top: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    text-shadow: 2px 4px 12px #FFFF;
}
.emoji img{
    width: 3rem;
    height: 3rem;
    position: relative;
    right: -36rem;
    top: -4rem;
    cursor: pointer;
}
.emojiPanel{
    background-color: whitesmoke;
    height: auto;
    width: 40rem;
    position: relative;
    left: 5rem;
    top: -33rem;
    border-radius: 1.65rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size:2.5rem;
    overflow-y:unset;
}
.emojiPanel a
{
    text-decoration: none;
}

.users-in{
    position: absolute;
    top: 3rem;
    right: 10rem;
    z-index: 4; 
    background:rgba(255,255,255,0.8);
    padding: 2rem;
    border-radius: 1.65rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: 0.2rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    cursor: pointer;
}

.display-users-container{
    position: absolute;
    top: 10rem;
    right: 5rem;
    z-index: 4; 
    background:rgba(255,255,255,0.8);
    padding: 2rem;
    border-radius: 1.65rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-shadow: 0.2rem;
    text-transform: capitalize;
    font-size: 1.1rem;
    height: auto;
    width: 20rem;
   
}